[submodule "dot-config/zsh/plugins/oh-my-zsh"]
	path = dot-config/zsh/plugins/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "dot-config/zsh/plugins/powerlevel10k"]
	path = dot-config/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "dot-config/zsh/plugins/zsh-history-substring-search"]
	path = dot-config/zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
