[Desktop Entry]
Name=Supraland
Comment=Play this game on Steam
Exec=steam steam://rungameid/813630
Icon=steam
Terminal=false
Type=Application
Categories=Game;
