[Desktop Entry]
Type=Application
Name=Auth-ES
Exec=waydroid app launch com.DPMOBESA
Icon=/home/abulujayn/.local/share/waydroid/data/icons/com.DPMOBESA.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:com.DPMOBESA
Icon=/home/abulujayn/.local/share/waydroid/data/icons/com.android.settings.png
