[Desktop Entry]
Type=Application
Name=F-Droid
Exec=waydroid app launch org.fdroid.fdroid
Icon=/home/abulujayn/.local/share/waydroid/data/icons/org.fdroid.fdroid.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:org.fdroid.fdroid
Icon=/home/abulujayn/.local/share/waydroid/data/icons/com.android.settings.png
