[Desktop Entry]
Type=Application
Name=Windows
Comment=Open the Windows virtual machine
Exec=virt-viewer -c qemu:///system windows
Icon=windows-vm
Terminal=false
Categories=System;Emulator;
StartupNotify=true
